.place__link-name{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    
}

.place__link-name:hover{
    opacity: 0.8;
    cursor: pointer;
    
}