.place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320;
    margin: 0 -16px 0;
 
}

@media screen and (min-width: 768px){
    .place{
        max-width: 720px;
        margin: 0 auto 0; 
 }

}

@media screen and (min-width: 1024px){
    .place{
        max-width: 928px;
       /* margin: 0;*/
 }

}

@media screen and (min-width: 1280px){
    .place{
        max-width: 984px;
       /* margin: 0;  */ 
 }

}




